.name{
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
}
.header{
    border-bottom: 1px solid #ecebeb;
    padding-bottom: 10px;
    padding-left: 20px;
}
.price{
    font-weight: bold;
}
.img{
    width: 50px;
    height: 50px;
}
.info_box{
    padding-left: 10px;
    white-space: pre-line;
}
.body{
    height: 523px;
}
.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    color: dimgrey;
    font-weight: bold;
    width: 100%;
    bottom: 0;
    border: 1px solid #ecebeb;
    height: 80px;
}
.container{
}