.calendar_area{
    width: 350px;
}
@media (min-width: 768px) {
    .calendar_area{
        width: 400px;
    }
}

.dropdown{
    display: flex;
}
.wave{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    color: lightgrey;
}
