.nav{
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 30px;
    backgound-color: black;
}
.main_txt{
    font-size: 40px;
}
.link{
    font-size: 20px;
}
.shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
.dropdown{
    border: 0px solid black;
}