.customContainer{
    text-align: left;
    background-size: cover; /* 작은 화면에서 배경을 화면에 맞게 조절 */
    background-position: center; /* 배경 이미지 중앙에 위치 */
    width: 100%;
}
.home_text{
    font-size: 15px;
    font-weight: bold;
    color: #4b4b4b;
}
.btn{
    color: grey;
    background-color: white;
    border: 0px;
    font-size: 10px;
}
.img{
    width: 100%;
    height: auto; /* 그라데이션 위에 이미지가 나타나도록 설정 */
}
/* 스타일 시트에 추가 */
@media (min-width: 768px) {
    .customContainer {
        background-size: cover; /* 작은 화면에서 배경을 화면에 맞게 조절 */
        background-position: center; /* 배경 이미지 중앙에 위치 */
        width: 1200px;
    }
    .home_text{
        font-size: 20px;
    }
    .btn{
        font-size: 16px;
    }
}

.overlay {
    position: relative;
}



.container_title{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
}
