@media (min-width: 768px) {
    .container {
        width: 1200px;
    }
}
.side_bar{
}
.side{
    cursor: pointer;
    padding: 5px 0px;
    width: 110px;
    margin-left: 10px;
    font-weight: bold;
    color: grey;
    text-align: left;
    font-size: 20px;
}
.title{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    color: dimgrey;
    margin-bottom: 20px;
}
.selected{
    cursor: pointer;
    padding: 5px 0px;
    width: 110px;
    margin-left: 10px;
    font-weight: bold;
    color: #84CEE2;
    text-align: left;
    font-size: 20px;
}
.body{
    margin-top: 60px;
}