
.container{
    text-align: left;
}
.custom_file_input{
    width: 50px;
    height:50px;
}
.img{
    width: 100px;
    height: 100px;
}
.img_box{
    height: 100px;
}
.custom_file_input::before {
    content: '';
    background-image: url('../img/camera.png'); /* 이미지 경로 설정 */
    background-size: cover;
    width: 50px;
    height: 50px;
    /*color: #fff;*/
    /*background-color: #007bff;*/
    /*border-color: #007bff;*/
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}
.btn_align{
    text-align: center;
 }
.category_text{
    font-size: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 900px;
        text-align: center;
    }
    .custom_file_input {
        width: 150px;
        height: 150px;
        color: transparent;
        cursor: pointer;
    }
    .img{
        width: 150px;
        height: 150px;
        border-right: 5px;
    }
    .custom_file_input::before {
        content: '';
        background-image: url('../img/camera.png'); /* 이미지 경로 설정 */
        background-size: cover;
        width: 150px;
        height: 150px;
        /*color: #fff;*/
        /*background-color: #007bff;*/
        /*border-color: #007bff;*/
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
    }
    .img_box{
        height: 150px;
    }
    .category_text{
        font-size: 17px;
    }

}
.text_detail{
    text-align: left;
}
.form{
    margin-top: 40px;
}
.state_txt{
    margin-right: 30px;
}
.btn{
    background-color: #84CEE2;
    border-color: #84CEE2;
}
/* styles.css 또는 원하는 파일에 추가 */

/* 파일 업로드 버튼을 이미지로 스타일링 */


.custom_file_input::-webkit-file-upload-button {
    visibility: hidden;
}



.custom_file_input:hover::before {
    background-color: #0056b3;
}

.img_box{
    margin-left: 10px;
}
.img_close_btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}
.img_content{
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.transitionContainer {
    transition: opacity 0.5s ease-in-out;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}
h3{
    font-weight: bold;
    color: #4b4b4b;
}