.image {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
}


.card_content {
    padding: 20px 13px 20px 13px;
    text-align: left;
}

.time_text {
    text-align: right;
    color: lightgrey;
}


.tag_null{
    padding-bottom: 5px;
}

.tag {
    padding-left: 5px;
    padding-right: 5px;
    color: #84CEE2;
    background-color: white;
    border: 1px solid #84CEE2;
    border-radius: 10px;
    /*background-color: #84CEE2;*/
    /*color: white;*/
}

.status_trading{
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: #E65100;
    background-color: #FB8C00;
    border-radius: 10px;
}
.status_complete{
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: dimgrey;
    background-color: darkgrey;
    border-radius: 10px;
}
.card_ani {
    /* 기본 스타일 */
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 5px;
}

.card_ani:hover {
    /* 마우스를 올렸을 때의 스타일 변경 */
    transform: translateY(-5px); /* Y 축 방향으로 살짝 위로 이동 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
.card_link{
    display: block;
    text-decoration: none;
    color: inherit;
}