h3{
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
    color: dimgrey;
}
.container{
    width: 1150px;
}
.card {
    margin-top: 10px;
}
.nav_color{
    color: grey;
}
.length{
    margin-left: 15px;
    margin-top: 10px;
    color: grey;
    font-size: 13px;
}
.bar{
    display: flex;
    justify-content: space-between; /* 좌우 여백을 최대한으로 분배 */
}
.nav{
    margin-bottom: 10px;
    width: 200px;
}